<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">

	<display-name>firstServletProject</display-name>
	<welcome-file-list>
		<welcome-file>pages/index.html</welcome-file>
	</welcome-file-list>

	<!-- servlet-1 -->
	<servlet>
		<servlet-name>firstServlet</servlet-name>
		<servlet-class>com.servlet.FirstServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>firstServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<!-- servlet-1 -->
	
	<!-- servlet 2 -->
	
	<servlet>
		<servlet-name>secondServlet</servlet-name>
		<servlet-class>com.servlet.Servlet_using_GenericServlect_class</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>secondServlet</servlet-name>
		<url-pattern>/secondHome</url-pattern>
	</servlet-mapping>
	
	<!-- servlet 2 -->
	
	<!-- servlet-3 -->
	 <servlet>
	   <servlet-name>thirdServlect</servlet-name>
	   <servlet-class>com.servlet.Servlet_using_HttpServlet</servlet-class>
	 </servlet>
	<servlet-mapping>
	   <servlet-name>thirdServlect</servlet-name>
	   <url-pattern>/thirdHome</url-pattern>
	</servlet-mapping>
	
	
	<!-- servlet-3 -->

</web-app>